@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1c1e29;
}

.btn {
  border: none;
  padding: 6px 4px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  /* hover krne pe transition hoga */
  transition: all 0.3s ease-in-out;
}

.mainWrap {
  grid-template-columns: 230px 1fr;
}

.CodeMirror {
  min-height: 100%;
  font-size: 15px;
  line-height: 1.6;
  padding-top: 20px;
}
